@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
  color: #000;
  font-family: "poppins";
  text-decoration: none;
}

* .hide {
  overflow: hidden !important;
}

button {
  all: unset;
  cursor: pointer;
}

:focus {
  outline: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 13px;
  font-family: "Archivo", sans-serif;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: auto;
  max-width: 1000px;
}

[class*="sliderbox"] {
  max-width: 100%;
  min-width: 100%;
}

.description > * {
  line-height: 1.5;
  margin: 0 0 20px 0;
}

.description > *:last-child {
  margin: 0;
}

.description * {
  color: #555;
}

.description p,
.description span {
  font-weight: 400;
}

.description ul,
.description ol {
  display: block;
  list-style: none;
}

.description ul li,
.description ol li {
  margin: 0 0 8px 0;
}

.description ul li:last-child,
.description ol li:last-child {
  margin: 0;
}

section {
  background: #fff;
  position: relative;
  z-index: 10;
}

.btn-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.btn-holder > * {
  margin: 0 30px 0 0;
}

.btn-holder > *:last-child {
  margin: 0;
}

.mt1 {
  margin-top: 10px;
}

.mt2 {
  margin-top: 20px;
}

.mt3 {
  margin-top: 30px;
}

.mt4 {
  margin-top: 40px;
}

.mt5 {
  margin-top: 50px;
}

.mt6 {
  margin-top: 60px;
}

.mt7 {
  margin-top: 70px;
}

.mt8 {
  margin-top: 80px;
}

.mt9 {
  margin-top: 90px;
}

.mt10 {
  margin-top: 100px;
}

h1,
.h1 {
  font-size: 52px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h1 *,
.h1 * {
  font-weight: 700;
  line-height: 1.3;
}

h2,
.h2 {
  font-size: 42px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h2 *,
.h2 * {
  font-weight: 700;
  line-height: 1.3;
}

h3,
.h3 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h3 *,
.h3 * {
  font-weight: 700;
  line-height: 1.3;
}

h4,
.h4 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h4 *,
.h4 * {
  font-weight: 700;
  line-height: 1.3;
}

h5,
.h5 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h5 *,
.h5 * {
  font-weight: 700;
  line-height: 1.3;
}

h6,
.h6 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-weight: 700;
}

h6 *,
.h6 * {
  font-weight: 700;
  line-height: 1.3;
}

.btn {
  all: unset;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: calc(var(--vw) * 10);
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.btn:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn:active {
  -webkit-transform: translateY(-5px) scale(0.95);
  transform: translateY(-5px) scale(0.95);
}

.d-none {
  display: none !important;
}

.splide__arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.splide__arrow {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  width: auto;
  height: auto;
  padding: 0 !important;
  margin: 0 !important;
  opacity: 1;
  background: transparent;
}

.splide__arrow[disabled] {
  opacity: 0.5;
}

.splide__arrow svg {
  width: 25px;
  height: 25px;
}

.header--section {
  padding: 60px 0 20px;
  background: #fff;
  width: 100%;
  top: 0;
  z-index: 100;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header--section.active {
  -webkit-transform: translateY(-45px);
  transform: translateY(-45px);
  position: fixed;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.header--box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 30px;
  padding: 0 0 20px;
}

.header--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header--contact > div {
  margin: 0 15px 0 0;
}

.header--contact > div:last-child {
  margin: 0;
}

.header--contact .login button {
  font-weight: 500;
}

.header--contact .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
}

.header--contact .social-icons ul li {
  margin: 0 15px 0 0;
}

.header--contact .social-icons ul li:last-child {
  margin: 0;
}

.header--contact .social-icons ul li a i {
  color: #a6a6a6;
}

.header--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header--logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 30px;
  width: auto;
}

.header--logo a img {
  height: 100%;
  width: auto;
}

.header--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header--search input {
  all: unset;
  padding: 10px;
  width: 100px;
}

.header--search i {
  color: #a6a6a6;
  font-size: 24px;
}

.header--menubox ul {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
}

.header--menubox ul li {
  margin: 0 30px 0 0;
}

.header--menubox ul li:last-child {
  margin: 0;
}

.header--menubox ul li a {
  font-weight: 600;
  position: relative;
  z-index: 1;
}

.header--menubox ul li a::before {
  position: absolute;
  content: "";
  top: calc(100% + 3px);
  left: 0;
  width: 0;
  height: 2px;
  background: #44de62;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  z-index: -1;
}

.header--menubox ul li a:hover::before {
  width: 100%;
}

.header--menubox ul li.dropdown {
  position: relative;
  z-index: 11;
}

.header--menubox ul li.dropdown ul {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  padding: 20px 10px;
  background: #fff;
  min-width: 300px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  display: block;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  z-index: 11;
}

.header--menubox ul li.dropdown ul::before {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  background: transparent;
  z-index: -1;
  height: 10px;
  width: 100%;
}

.header--menubox ul li.dropdown ul li {
  margin: 0 0 10px 0;
}

.header--menubox ul li.dropdown ul li:last-child {
  margin: 0;
}

.header--menubox ul li.dropdown ul li a {
  padding: 6px 8px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.header--menubox ul li.dropdown ul li a::before {
  display: none;
}

.header--menubox ul li.dropdown ul li a:hover {
  background: #44de62;
}

.header--menubox ul li.dropdown:hover > a::before {
  width: 100%;
}

.header--menubox ul li.dropdown:hover > ul {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.header--mobilemenu {
  display: none;
  position: relative;
  z-index: 50;
}

.header--menubar {
  display: none;
}

.menu-bar {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 5px;
}

.menu-bar span {
  display: table;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2/1 / span 1 / span 1;
  width: 30px;
  height: 5px;
  background: #000;
  border-radius: 50px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.menu-bar span:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1 / span 1 / span 1;
  -webkit-transform-origin: right;
  transform-origin: right;
}

.menu-bar span:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1 / span 1 / span 1;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.menu-bar.active span:nth-child(1),
.menu-bar.active span:nth-child(4) {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.menu-bar.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-bar.active span:nth-child(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.mobilemenu--section {
  display: none;
  width: 100%;
  height: auto;
  background: #efefef;
  overflow: auto;
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
}

.mobilemenu--box {
  padding: 30px;
  scrollbar-width: thin;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 30px;
}

.mobilemenu--box::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.mobilemenu--box::-webkit-scrollbar-track {
  background: #4d4d4d;
}

.mobilemenu--box::-webkit-scrollbar-thumb {
  background: #000;
}

.mobilemenu--list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0 10px 0;
}

.mobilemenu--list ul li:last-child {
  margin: 0;
}

.mobilemenu--list ul li a {
  display: block;
  width: 100%;
  font-size: 16px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  color: #000;
}

.mobilemenu--list ul li a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.mobilemenu--list ul li a:hover {
  color: #000;
}

.mobilemenu--list ul li.dropdown {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 0 8px;
}

.mobilemenu--list ul li.dropdown > a {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1 / span 1 / span 1;
}

.mobilemenu--list ul li.dropdown > i {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2 / span 1 / span 1;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  font-size: 12px;
  color: #000;
}

.mobilemenu--list ul li.dropdown > ul {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1 / span 1 / span 2;
  margin: 8px 0 0 20px;
  display: none;
}

.mobilemenu--list ul li.dropdown > ul li {
  margin: 0 0 10px 0;
}

.mobilemenu--list ul li.dropdown > ul li:last-child {
  margin: 0;
}

.mobilemenu--list ul li.dropdown.active > a {
  color: #000;
}

.mobilemenu--list ul li.dropdown.active > i {
  color: #000;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.main--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto minmax(auto, 1000px) auto;
  grid-template-columns: auto minmax(auto, 1000px) auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 0;
  min-height: 600px;
  padding-bottom: 100px;
}

.main--add {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 130px;
  padding: 0 15px;
}

.main--add.one {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1 / span 1 / span 1;
}

.main--add.two {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3 / span 1 / span 1;
}

.main--add img {
  width: 160px;
  height: auto;
}

.main--holder {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 60px;
  padding-bottom: 30px;
}

.display--item {
  overflow: hidden;
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 100%;
}

.display--item a {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 1fr 10px;
  grid-template-columns: 10px 1fr 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 0;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}

.display--itemimg {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1/1 / span 2 / span 3;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.display--itemimg img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.display--itemimg::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scaleY(0);
  transform: translate(-50%, -50%) scaleY(0);
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.display--itemimg:hover::before {
  -webkit-transform: translate(-50%, -50%) scaleY(1);
  transform: translate(-50%, -50%) scaleY(1);
}

.display--itemtext {
  position: relative;
  z-index: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2 / span 1 / span 1;
  padding: 10px 0;
}

.display--itemtext * {
  color: #fff;
  font-weight: 400;
  font-size: 24px;
}

.display--itembox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 20px;
  grid-template-areas: "n1 n1 n2 n2" "n1 n1 n3 n4";
}

.display--item:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: n1;
}

.display--item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: n2;
  height: 300px;
}

.display--item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: n3;
  height: 200px;
}

.display--item:nth-child(3) .display--itemtext * {
  font-size: 18px;
}

.display--item:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: n4;
  height: 200px;
}

.display--item:nth-child(4) .display--itemtext * {
  font-size: 18px;
}

.information--section {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 40px;
}

.information--sectionholder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 250px;
  grid-template-columns: 1fr 250px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 50px;
}

.information--item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c1c1c1;
}

.information--itemholder {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 15px;
}

.information--itembox {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 15px;
}

.information--itemtitle {
  border-bottom: 2px solid #c1c1c1;
  padding-bottom: 12px;
}

.information--itemtitle .title * {
  font-size: 23px;
  font-weight: 600;
}

.information--itemimg a {
  width: 110px;
  height: 110px;
  overflow: hidden;
  display: block;
}

.information--itemimg a img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.information--itemtext {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 5px;
}

.information--itemtext .title a:hover {
  color: #44de62;
}

.information--itemtext .description * {
  font-style: italic;
}

.information--gridbox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 15px;
}

.information--griditem {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto 1fr;
  grid-gap: 2px;
}

.information--griditemimg a {
  display: block;
  width: 100%;
  height: 225px;
  overflow: hidden;
}

.information--griditemimg a img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.information--sidebarbox {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto 1fr;
  grid-gap: 30px;
  height: 100%;
}

.information--sidebarbox > div:last-child {
  height: 647px;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
}

.information--sidebarbox > div:last-child > div:last-child {
  height: 100%;
}

.information--jobannoncer {
  border: 1px solid #c1c1c1;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.information--jobannoncer::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.information--jobannoncer::-webkit-scrollbar-track {
  background: #4d4d4d;
}

.information--jobannoncer::-webkit-scrollbar-thumb {
  background: #000;
}

.information--jobannonceritem {
  border-bottom: 1px solid #c1c1c1;
}

.information--jobannonceritem a {
  padding: 15px 20px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 15px;
}

.information--jobannonceritem a .img {
  width: 60px;
}

.information--jobannonceritem a .title h6 {
  font-weight: 500;
}

.information--jobannonceritem a .title span {
  display: block;
  margin-top: 3px;
  font-style: italic;
  color: #a6a6a6;
}

.information--infoslideritem {
  height: 200px;
}

.information--infoslideritem a {
  width: 100%;
  height: 100%;
  display: block;
}

.information--infoslideritem a img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.detail--section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 250px;
  grid-template-columns: 1fr 250px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-gap: 30px;
}

.detail--item {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 5px;
}

.detail--itemimg a {
  display: block;
  height: 130px;
}

.detail--itemimg a img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.detail--itemtext * {
  line-height: 1.1;
}

.detail--itemtext a {
  font-weight: 400;
  font-size: 14px;
}

.detail--itembox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px 30px;
}

.detail--sidebarbox {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 15px;
}

.detail--sidebaritem#social {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 25px;
  background: #efefef;
}

.detail--sidebaritem#social .social {
  padding-bottom: 15px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 25px;
  border-bottom: 1px dotted #333;
}

.detail--sidebaritem#social .social:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.detail--sidebaritem#social .social--itemtitle * {
  font-size: 14px;
  font-weight: 600;
}

.detail--sidebaritem#social .social--itemicons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
}

.detail--sidebaritem#social .social--itemicons ul li {
  margin: 0 6px 0 0;
}

.detail--sidebaritem#social .social--itemicons ul li:last-child {
  margin: 0;
}

.detail--sidebaritem#social .social--itemicons ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
}

.detail--sidebaritem#social .social--itemicons ul li a i {
  font-size: 8px;
  color: #fff;
}

.detail--sidebaritem#social .social .input-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
  grid-template-columns: 5fr 2fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
}

.detail--sidebaritem#social .social .input-holder input {
  display: block;
  all: unset;
  width: 100%;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}

.detail--sidebaritem#social .social .input-holder button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #44de62;
  font-weight: 500;
}

.detail--sidebaritem#list {
  background: #dcf9e1;
  padding: 15px 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 10px;
}

.detail--sidebaritem#list ul {
  display: block;
  list-style: none;
}

.detail--sidebaritem#list ul li {
  margin: 0 0 10px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #44de62;
}

.detail--sidebaritem#list ul li:last-child {
  margin: 0;
}

.detail--sidebaritem#list ul li:last-child {
  border: none;
  padding-bottom: 0;
}

.detail--sidebaritem#list ul li a {
  font-size: 14px;
  font-weight: 600;
}

.logo--section {
  margin-top: 50px;
}

.logo--slideritem a {
  border: 1px solid #c1c1c1;
  padding: 15px;
  display: block;
}

.footer--section {
  background: #231f20;
  padding: 40px 0;
}

.footer--itembox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer--itemtitle * {
  color: rgba(255, 255, 255, 0.8);
}

.footer--itemlist ul {
  display: block;
  list-style: none;
}

.footer--itemlist ul li * {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.footer--itemlist ul li *:hover {
  color: #fff;
}

.footer--iteminput {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
  grid-template-columns: 1fr auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  grid-gap: 10px;
  margin-top: 10px;
}

.footer--iteminput input {
  all: unset;
  font-size: 12px;
  background: #fff;
  padding: 4px 10px;
  line-height: 1;
}

.footer--iteminput button {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 5px;
}

.footer--socialicon ul {
  display: block;
  list-style: none;
}

.footer--socialicon ul li {
  margin: 0 0 10px 0;
}

.footer--socialicon ul li:last-child {
  margin: 0;
}

.footer--socialicon ul li a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background: #fff;
}

.footer--socialicon ul li a i {
  font-size: 18px;
  color: #231f20;
}

.footer--box {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 60px;
}

.footer--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer--logo a {
  height: 40px;
  display: block;
}

.footer--logo a img {
  height: 100%;
  width: auto;
}

.copyright--box {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  grid-gap: 15px;
  place-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.copyright--text {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
  .display--itemtext * {
    font-size: 20px;
  }
  .display--item:nth-child(2) {
    height: 225px;
  }
  .display--item:nth-child(3),
  .display--item:nth-child(4) {
    height: 160px;
  }
  .display--item:nth-child(3) .display--itemtext *,
  .display--item:nth-child(4) .display--itemtext * {
    font-size: 16px;
  }
  .information--griditemimg a {
    height: 180px;
  }
  .detail--section {
    grid-gap: 30px;
  }
  .information--griditemtext .title a {
    font-size: 16px;
  }
  .detail--itemimg a {
    height: 100px;
  }
  .detail--itemtext a {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  .header--logo a {
    height: 25px;
  }
  .header--menubox ul li a {
    font-size: 12px;
  }
  .header--section .container {
    padding: 0 30px;
  }
  .main--section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main--add {
    display: none;
  }
}

@media (max-width: 768px) {
  .header--section {
    padding: 50px 0 15px;
  }
  .header--section.active {
    position: -webkit-sticky;
    position: sticky;
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  .header--mobilemenu {
    display: block;
  }
  .header--menubar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
    z-index: 100;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  }
  .header--menubox {
    display: none;
  }
  .header--box {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    grid-template-areas: "logo logo" "sicons search";
    padding: 0;
  }
  .header--contact {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sicons;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .header--search {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: search;
  }
  .header--logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
  }
  .main--holder {
    grid-gap: 50px;
  }
  .information--sectionholder {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
  .information--sidebarbox {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .information--sidebarbox > div:last-child {
    height: 259px;
  }
  .detail--itembox {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .detail--itemimg a {
    height: 130px;
  }
  .detail--sidebarbox {
    position: -webkit-sticky;
    position: sticky;
    top: 130px;
  }
  .footer--itembox {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "n1 n2 n3" "n4 n4 n5";
  }
  .footer--item:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: n1;
  }
  .footer--item:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: n2;
  }
  .footer--item:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: n3;
  }
  .footer--item:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: n4;
  }
  .footer--item:nth-child(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: n5;
  }
}

@media (max-width: 576px) {
  .information--sidebarbox {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .information--sidebarbox > div:last-child {
    height: 425px;
  }
  .information--item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .information--itemimg a {
    width: 60px;
    height: 60px;
  }
  .information--itemtext .description {
    display: none;
  }
  h6 {
    font-size: 16px;
  }
  .information--gridbox {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .detail--section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .information--infoslideritem {
    height: auto;
  }
  .information--griditemimg a {
    height: auto;
  }
  .detail--itembox {
    grid-gap: 10px 15px;
  }
  .display--itembox {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "n1 n1"
      "n2 n2" "n3 n4";
  }
  .footer--itembox {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "n1 n2" "n3 n5" "n4 n4";
  }
  .footer--item:nth-child(5) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer--item:nth-child(5) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer--item:nth-child(5) ul li {
    margin: 0 15px 0 0;
  }
  .footer--item:nth-child(5) ul li:last-child {
    margin: 0;
  }
}
